# **Sales Forecasting and Demand Prediction - EDA**

#### The Sales Forecasting and Demand Prediction project aims to build a machine learning model that **predicts future sales** **and demand for products based on historical data**. Accurate forecasting helps businesses optimize inventory management, staffing, and marketing strategies. This project will apply data science techniques, from data collection and analysis to model deployment and monitoring, enabling businesses to make data-driven decisions.

<-- Table OF Content -->

In [5]:
# Gearing up!
import pandas as pd
import numpy as np
import matplotlib.pyplot as np
import seaborn as sns

data = pd.read_csv(r"E:\DEPI\Technical\DEPI\Graduation_Project\Sales-Forecasting-and-Demand-Prediction\Dataset\train.csv")
df = pd.DataFrame(data)

df # test

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

## **1. Data Exploration**

## **2. Data Cleaning**

## **3. Feature Engineering**

## **4. Key Questions To answer**

## **5. Actionable Insights**

## **Summary**